{% extends "layout.html" %}

{% block title %}

Register

{% endblock %}

{% block head %}
<div class="jumbotron text-center">
    <h1 class="display-4">Register</h1>
</div>
{% endblock %}

{% block main %}

<form class="needs-validation" novalidate action="/register" autocomplete="off" method="post">
    <div class="form-group">
        <input type="text" autofocus class="form-control" id="username" placeholder="Username" name="username" required>
        <div class="invalid-feedback">Please enter your username</div>
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Email (optional)" name="email">
    </div>
    <div class="form-group">
        <input type="text" autofocus class="form-control" id="university" placeholder="University (optional)" name="university">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
        <div class="invalid-feedback">Please enter your password</div>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="confirmation" placeholder="Password (again)" name="confirmation"
            required>
        <div class="invalid-feedback">Please confirm your password</div>
    </div>
    <button class="btn btn-info " type="submit">Register</button>
    <input type="hidden" name="today_date" value="">
</form>
<div class="alert alert-info my-5" role="alert">
        Username mustn't contain spaces or symbols except for _
        <br>
        Password must be longer than 6 characters and contain upper and lower case letters and and/or numbers and/or symbols.
      </div>
<script src="/static/register.js"></script>


{% endblock %}