{% extends "layout.html" %}

{% block title %}
    Add Email
{% endblock %}

{% block main %}

    <form class="needs-validation" novalidate  action="/settings/add_email" autocomplete="off" method="post">
        <div class="form-group">
            <input type="email" autofocus class="form-control" placeholder="Email"id="email" name="email" required>
            <div class="invalid-feedback">Please enter your email</div>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}