{% extends "layout.html" %}

{% block title %}
    Change Email
{% endblock %}

{% block main %}

    <form class="needs-validation" novalidate  action="/settings/change_email" autocomplete="off" method="post">
        <div class="form-group">
            <input type="email" autofocus class="form-control" placeholder="Email"id="email" name="email" required>
            <div class="invalid-feedback">Please enter your email</div>
        </div>
        <div class="form-group">
            <input type="email" autofocus class="form-control" placeholder=" New Email"id="new_email" name="new_email" required>
            <div class="invalid-feedback">Please enter your new email</div>
        </div>
        <button class="btn btn-primary darkmode-ignore" type="submit">Change</button>
    </form>
{% endblock %}