{% extends "layout.html" %}

{% block title %}
    Dues
{% endblock %}

{% block head %}
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Dues.</h1>
        <h5 class="lead">Nnumber of dues: {{ dues|length }}
        </h5>
                <button type="button" class="btn btn-primary darkmode-ignore mb-2" data-toggle="modal" data-target="#add">
            Add Due
        </button>
        <!-- Modal -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Add Due</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="f" novalidate action="/add/due" method="post">
                    <div class="form-group mb-2">
                        <input autocomplete="off" autofocus class="form-control" name="subject" placeholder="Subject"
                            type="text" required>
                        <div class="invalid-feedback">Please enter your subject</div>
                    </div>

                    <div class="form-group mb-2">
                        <label for="deadline">Deadline</label>
                        <input autocomplete="off" autofocus class="form-control" name="deadline" id="deadline" type="date"
                            required>
                        <div class="invalid-feedback">Please enter deadline</div>

                    </div>
                    <div class="mb-3">
                        <textarea class="form-control med-form" placeholder="Required" name="required" required></textarea>
                        <div class="invalid-feedback">Please write your requirements</div>
                    </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary ml-auto darkmode-ignore w-100 text-center" type="submit">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

        <form action="/delete/dues" method="post" id="delete_dues">
            <button class="btn btn-danger darkmode-ignore m-2 " type="submit">Delete Dues</button>
        </form>
    </div>
</div>
{% endblock %}
{% block main %}
{% if not dues %}
<div class="alert alert-danger" role="alert">
    No dues found.
</div>
{% else %}

<div class="table-responsive darkmode-ignore">
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">Required</th>
                    <th scope="col">Deadline</th>
                    <th scope="col">Days Left</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for due in dues %}
                <tr>
                    <td>{{ due["subject"] }}</td>
                    <td>{{ due["required"] }}</td>
                    <td class="deadline">{{ due["deadline"] }}</td>
                    <td><span class="time-left"></span></td>
                    <td>
                        <form action="/delete/due" onsubmit=" return verify();" method="post">
                            <input type="hidden" name="subject" value="{{ due['subject'] }}">
                            <input type="hidden" name= "required" value="{{ due['required'] }}">
                            <input type="hidden" name="deadline" value="{{ due['deadline'] }}">
                            <button class="btn btn-danger darkmode-ignore" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endif %}
<script>
    let form = document.querySelector("#delete_dues");
    form.onsubmit = function () {
        return confirm("Are you sure you want to delete all dues?");
    }
    function verify(){
        return confirm("Are you sure you want to delete this due?");
    }
    let d1 = new Date(); //"now"
    let deadlines = document.querySelectorAll(".deadline");
    let dates = document.querySelectorAll(".time-left");
    for (let i = 0; i < deadlines.length; i++)
    {
        let d2 = new Date(deadlines[i].innerHTML);
        let month = d2.getMonth()-d1.getMonth();
        let day = d2.getDate() - d1.getDate();
        let left = month * 60 + day;
        /*alert(month);
        alert(day);
        */
        if (left >= 0)
        {
            dates[i].innerHTML = left;
        }
        else
        {
            dates[i].innerHTML = "Done";
        }
    }

    </script>
{% endblock %}