{% extends "layout.html" %}

{% block title %}
    Dues
{% endblock %}

{% block head %}
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Dues.</h1>
        <h5 class="lead">Number of dues: {{ dues|length }}
        </h5>
                <button type="button" class="btn btn-success  mb-2" data-toggle="modal" data-target="#add">
            Add Due
        </button>
        <!-- Modal -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Add Due</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="f" novalidate action="/add/due" method="post">
                    <div class="form-group mb-2">
                        <select class="custom-select form-control" name="subject" required>
                            <option value="" disabled selected>Subject</option>
                            {% for subject in session['subjects'] %}
                                <option value="{{ subject }}">{{ subject }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please choose a subject</div>
                    </div>
                <div class="form-group mb-2">
                        <select class="custom-select form-control" name="type" required>
                            <option value="" disabled selected>Type</option>
                                <option value="Assignment">Assignment</option>
                                <option value="Exam">Exam</option>
                                <option value="Project">Project</option>
                                <option value="Quiz">Quiz</option>
                                <option value="Other">Other</option>
                        </select>
                        <div class="invalid-feedback">Please choose a type</div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="deadline">Deadline</label>
                        <input autocomplete="off" autofocus class="form-control" name="deadline" id="deadline" type="date"
                            required>
                        <div class="invalid-feedback">Please enter deadline</div>

                    </div>
                    <div class="mb-3">
                        <textarea class="form-control med-form" placeholder="TODO" name="required"></textarea>
                    </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success ml-auto  w-100 text-center" type="submit">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

        <form action="/delete/dues" method="post" id="delete_dues">
            <button class="btn btn-danger  m-2 " type="submit">Delete Dues</button>
        </form>
    </div>
</div>
{% endblock %}
{% block main %}
{% if not dues %}
<div class="alert alert-info" role="alert">
    Woohoo! You don't have any dues!
</div>
{% else %}

<div class="table-responsive ">
    <table class="table table-dark table-striped table-hover">
       <thead>
                <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">Type</th>
                    <th scope="col">TODO</th>
                    <th scope="col">Deadline</th>
                    <th scope="col">Due</th>
                    <th scope="col">Delete</th>
                </tr>
        </thead>
        <tbody>
            {% for due in dues %}
                <tr>
                    <td><a href="/subjects/{{ due['subject']|replace(' ', '_') }}">{{ due["subject"] }}</a></td>
                    <td><a href="/subjects/{{ due['subject']|replace(' ', '_') }}">{{ due["type"] }}</a></td>
                    <td style="word-break: break-word">{{ due["required"] }}</td>
                    <td><a class="deadline" href="/subjects/{{ due['subject']|replace(' ', '_') }}">{{ due["deadline"] }}</a></td>
                    <td><a href="/subjects/{{ due['subject']|replace(' ', '_') }}"><span class="time-left"></span></a></td>
                    <td>
                        <form action="/delete/due" onsubmit=" return verify();" method="post">
                            <input type="hidden" name="subject" value="{{ due['subject'] }}">
                            <input type="hidden" name="type" value="{{ due['type'] }}">
                            <input type="hidden" name= "required" value="{{ due['required'] }}">
                            <input type="hidden" name="deadline" value="{{ due['deadline'] }}">
                            <button class="btn btn-danger " type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}
<script src="/static/due.js"></script>

<script>
    let form = document.querySelector("#delete_dues");
    form.onsubmit = function () {
        return confirm("Are you sure you want to delete all dues?");
    }
    function verify(){
        return confirm("Are you sure you want to delete this due?");
    }
    </script>
{% endblock %}