
{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block head %}
<div id="head">
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome, {{ session["username"] }}!</h1>
    <p class="lead">
        Today is <span id="date"></span>.
        <br>
        Number of periods today: <span id="periods_count"></span>
        <br>
        Number of dues this week: <span id="dues_count"></span>
    </p>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add_period">
        Add Period
    </button>
    <!-- Modal -->
    <div class="modal fade" id="add_period" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Add Period</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate action="/add/period" method="post">
                        <div class="form-group mb-2">
                            <input   class="form-control" name="subject"
                                placeholder="Subject" type="text" required>
                            <div class="invalid-feedback">Please enter your subject</div>

                        </div>
                        <div class="form-group mb-2">
                            <select class="custom-select form-control" name="type" required>
                                <option disabled selected value="">Type</option>
                                <option value="Lecture">Lecture</option>
                                <option value="Section">Section</option>
                                <option value="Lab">Lab</option>
                            </select>
                            <div class="invalid-feedback">Please choose a type</div>

                        </div>
                        <div class="form-group mb-2">
                            <input   class="form-control" name="lecturer"
                                placeholder="Lecturer" type="text" required>
                            <div class="invalid-feedback">Please enter your lecturer's name</div>

                        </div>
                        <div class="form-group mb-2">
                            <input   class="form-control" name="place" placeholder="Place"
                                type="text" required>
                            <div class="invalid-feedback">Please enter the place</div>

                        </div>
                        <div class="form-group mb-2">
                            <label for="start">Start time</label>
                            <input   class="form-control" name="start" id="start" type="time"
                                required>
                            <div class="invalid-feedback">Please enter start time</div>

                        </div>
                        <div class="form-group mb-2">
                            <label for="end">End time</label>
                            <input   class="form-control" name="end" id="end" type="time"
                                required>
                            <div class="invalid-feedback">Please enter end time</div>

                        </div>
                        <div class="form-check left-checkbox">
                            <input class="form-check-input" name="day" type="checkbox" value="Saturday"
                                id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Saturday
                            </label>
                        </div>
                        <div class="form-check left-checkbox">
                            <input class="form-check-input" name="day" type="checkbox" value="Sunday"
                                id="defaultCheck2">
                            <label class="form-check-label" for="defaultCheck2">
                                Sunday
                            </label>
                        </div>
                        <div class="form-check left-checkbox">
                            <input class="form-check-input" name="day" type="checkbox" value="Monday"
                                id="defaultCheck3">
                            <label class="form-check-label" for="defaultCheck3">
                                Monday
                            </label>
                        </div>
                        <div class="form-check left-checkbox">
                            <input class="form-check-input" name="day" type="checkbox" value="Tuesday"
                                id="defaultCheck4">
                            <label class="form-check-label" for="defaultCheck4">
                                Tuesday
                            </label>
                        </div>
                        <div class="form-check left-checkbox">
                            <input class="form-check-input" name="day" type="checkbox" value="Wednesday"
                                id="defaultCheck5">
                            <label class="form-check-label" for="defaultCheck5">
                                Wednesday
                            </label>
                        </div>
                        <div class="form-check left-checkbox">
                            <input class="form-check-input" name="day" type="checkbox" value="Thursday"
                                id="defaultCheck6">
                            <label class="form-check-label" for="defaultCheck6">
                                Thursday
                            </label>
                        </div>
                        <div class="form-check left-checkbox">
                            <input class="form-check-input" name="day" type="checkbox" value="Friday"
                                id="defaultCheck7">
                            <label class="form-check-label" for="defaultCheck7">
                                Friday
                            </label>
                        </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success ml-auto  w-100 text-center" type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add_due">
        Add Due
    </button>
    <!-- Modal -->
    <div class="modal fade" id="add_due" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Add Due</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate action="/add/due" method="post">
                    <div class="form-group mb-2">
                        <select class="custom-select form-control" name="subject" required>
                            <option value="" disabled selected>Subject</option>
                            {% for subject in session['subjects'] %}
                                <option value="{{ subject }}">{{ subject }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please choose a subject</div>
                    </div>
                <div class="form-group mb-2">
                        <select class="custom-select form-control" name="type" required>
                            <option value="" disabled selected>Type</option>
                                <option value="Assignment">Assignment</option>
                                <option value="Exam">Exam</option>
                                <option value="Project">Project</option>
                                <option value="Quiz">Quiz</option>
                                <option value="Other">Other</option>
                        </select>
                        <div class="invalid-feedback">Please choose a type</div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="deadline">Deadline</label>
                        <input autocomplete="off" autofocus class="form-control" name="deadline" id="deadline" type="date"
                            required>
                        <div class="invalid-feedback">Please enter deadline</div>

                    </div>
                    <div class="mb-3">
                        <textarea class="form-control med-form" placeholder="TODO" name="required"></textarea>
                    </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success ml-auto  w-100 text-center" type="submit">Add</button>
                </form>
            </div>
        </div>
        </div>
    </div>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add_note">
        Add Note
    </button>
        <!-- Modal -->
    <div class="modal fade" id="add_note" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Add Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate action="/add/note" method="post">
                    <div class="form-group mb-2">
                        <select class="custom-select form-control" name="subject" required>
                            <option value="" disabled selected>Subject</option>
                            {% for subject in session["subjects"] %}
                            <option value="{{ subject }}">{{ subject }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please choose a subject</div>
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control med-form" placeholder="Note (Supports Markdown)" name="note" required></textarea>
                        <div class="invalid-feedback">Please write your note</div>
                    </div>
                    <input type="hidden" name="current_date" id="current_date">
            </div>
            <div class="modal-footer">
                <button class="btn btn-success ml-auto  w-100 text-center" type="submit">Add</button>
                </form>
            </div>
        </div>
        </div>
    </div>

    <form method="get" class="mt-2" target="_blank">
        <div class="form-group mb-2">
            <input type="text" placeholder="Search" name="q" class="form-control"
                style="display: inline-block !important; width: auto;" required>
        </div>
        <button type="submit" formaction="https://www.google.com/search?"
            class="btn btn-info ">Google</button>
        <button type="submit" formaction="https://www.youtube.com/results?"
            class="btn btn-danger ">Youtube</button>
    </form>
</div>
</div>

{% endblock %}
{% block main %}

<div id="content">

</div>

<script src="/static/add_subject.js"></script>
<script src="/static/due.js"></script>
<script>
    let date = new Date();
    document.querySelector("#date").innerText = date.toDateString();
    document.querySelector("#current_date").value = date.toISOString().slice(0, 10);    
    fetch('/data/' + date.toISOString().slice(0, 10))
    .then(response => response.json())
    .then(result =>  {
        //document.querySelector('#head').innerHTML = result["head"];
        document.querySelector("#periods_count").innerText = result["periods_count"];
        document.querySelector("#dues_count").innerText = result["dues_count"];
        document.querySelector('#content').innerHTML = result["main"];
        format_subject_time();
        calculate_time_left();
        get_weather_data();
    })
    function get_weather_data() {
        navigator.geolocation.getCurrentPosition(getLatLon);
        function getLatLon(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            let request = "https://api.openweathermap.org/data/2.5/weather?lat=" + latitude + "&lon=" + longitude + "&units=metric&mode=html&appid=aaacf01424b1f47c7dadcd2a1f8eb254";
            $("#weather").load(request, function () {
                document.querySelector("#weather").style.display = "inline-block";
            });
        }
    }

// Service Worker
    if ("serviceWorker" in navigator) {
    if (navigator.serviceWorker.controller) {
        console.log("[PWA Builder] active service worker found, no need to register");
    } else {
        // Register the service worker
        navigator.serviceWorker
        .register("pwabuilder-sw.js", {
            scope: "./"
        })
        .then(function (reg) {
            console.log("[PWA Builder] Service worker has been registered for scope: " + reg.scope);
        });
    }
    }

</script>
    <script src="/static/subject_time.js"></script>

{% endblock %}