<!DOCTYPE html>

<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/darkly_bootstrap.min.css" rel="stylesheet">
    <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">-->
    <link href="/static/logo.png" rel="icon">
    <link href="/static/styles.css" rel="stylesheet">
    <link rel='manifest' href='/static/manifest.json'>

    <title>{% block title %} {% endblock %}</title>

</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-info sticky-top">
        <a class="navbar-brand" href="/">
            <img src="/static/logo.png" width="35" height="35" alt="logo">
            <span>Student Helper</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if session.user_id %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>

                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Subjects
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if session["subjects"] %}
                        {% for s in session["subjects"] %}
                        <a class="dropdown-item" href="/subjects/{{ s|replace(' ', '_') }}">{{ s }}</a>
                        {% endfor %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/schedule">Schedule</a>

                        {% else %}
                        <a class="dropdown-item" href="/add/subject">Add Subject</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item active"><a class="nav-link" href="/dues">Dues</a></li>
                <li class="nav-item active"><a class="nav-link" href="/notes">Notes</a></li>
                <li class="nav-item active"><a class="nav-link" href="/profile">Profile</a></li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Settings
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if session["email"] %}
                        <a class="dropdown-item" href="/settings/change_email">Change Email</a>
                        {% else %}
                        <a class="dropdown-item" href="/settings/add_email">Add Email</a>
                        {% endif %}
                        <a class="dropdown-item" href="/settings/change_password">Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/feedback">Send Feedback</a>
                    </div>
                </li>
                <li class="nav-item active"><a class="nav-link" href="/logout">Log Out</a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/search" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Subjects/Dues/Notes" aria-label="Search" name="q"
                    required>
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
            </ul>
            {% endif %}
        </div>
    </nav>

    {% block head %} {% endblock %}
    <main class="container">
        {% block main %}{% endblock %}
    </main>
    <footer class="pt-2">
        Helping students be more productive.
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/static/validation.js"></script>
    <!-- Darkmode addon https://darkmodejs.learn.uno/ -->
    

    </body>
</html>
