{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}
{% block head %}
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome To Student Helper!</h1>
    <p class="lead">This website aims to help you be more productive.
    <br>
    Please log in, if you don't have an account you can <a href="/register" style="text-decoration: underline; color: blue">register</a>.</p>
</div>
{% endblock %}
{% block main %}
    <form class="needs-validation" novalidate action="/login" method="post">
        <div class="form-group mb-2">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
                    <div class="invalid-feedback">Please enter your username</div>

        </div>
        <div class="form-group mb-2">
            <input class="form-control" name="password" placeholder="Password" type="password" required>
                    <div class="invalid-feedback">Please enter password</div>

        </div>
        <button class="btn btn-info " type="submit">Log In</button>
        <input type="hidden" name="today_date" value="">
    </form>
<script>
    let d = new Date();
    let today_date = (d.getMonth() + 1).toString() + '-' + d.getDate().toString() + '-' + d.getFullYear().toString();
    document.querySelector("form").onsubmit = function () {
        document.querySelector("input[name='today_date']").value = today_date;
        return true;
    }
</script>
{% endblock %}
