{% extends "layout.html" %}

{% block title %}
Module
{% endblock %}

{% block head %}
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">{{ module_type }}</h1>
        <p class="lead">Number of periods: {{ counter }}</p>
    </div>
</div>
{% endblock %}
{% block main %}
<div class="table-responsive ">
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Day</th>
                <th scope="col">Subject</th>
                <th scope="col">Lecturer</th>
                <th scope="col">Place</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for subjectt in subjects.values() %}
            {% for subject in subjectt %}
            <tr>
                <td><a href="/days/{{ subject['day'] }}" class="link"><span class="day">{{ subject["day"] }}</span></a></td>
                <td><a href="/subjects/{{ subject['subject'] | replace(' ', '_') }}">{{ subject["subject"] }}</a></td>
                <td><a href="/subjects/{{ subject['subject'] | replace(' ', '_') }}">{{ subject["lecturer"] }}</a></td>
                <td><a href="/place/{{ subject['place'] | replace(' ', '_') }}">{{ subject["place"] }}</a></td>
                <td><a href="/subjects/{{ subject['subject'] | replace(' ', '_') }}"><span class="time">{{ subject["start_time"] }}</span></a></td>
                <td><a href="/subjects/{{ subject['subject'] | replace(' ', '_') }}"><span class="time">{{ subject["end_time"] }}</span></a></td>
                <td>
                    <form action="/delete/subject" onsubmit=" return verify();" method="post">
                        <input type="hidden" name="subject" value="{{ subject['subject'] }}">
                        <input type="hidden" name="type" value="{{ subject['type'] }}">
                        <input type="hidden" name="lecturer" value="{{ subject['lecturer'] }}">
                        <input type="hidden" name= "day" value="{{ subject['day'] }}">
                        <input type="hidden" name="place" value="{{ subject['place'] }}">
                        <input type="hidden" name="start" value="{{ subject['start_time'] }}">
                        <input type="hidden" name="end" value="{{ subject['end_time'] }}">
                        <button class="btn btn-danger " type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function verify(){
        return confirm("Are you sure you want to delete this {{ module_type }}");
    }

</script>

{% endblock %}