{% extends "layout.html" %}

{% block title %}
{{ session["username"] }}
{% endblock %}

{% block head %}
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">{{ session["username"] }}.</h1>
        <p class="lead">Email:
            {% if session["email"] %}
                {{ session["email"] }}
            {% else %}
                <a href="/settings/add_email" class="btn btn-info ">Add Email</a>
            {% endif %}
            <br>
            University:
            {% if session["uni"] %}
                {{ session["uni"] }}
            {% else %}
                <form action="/add/uni" method="post">
                    <div class="form-group">
                    <input type="text" autofocus class="form-control" id="university" placeholder="University" name="university" style="display: inline-block !important; width: auto;" required>
                        <div class="invalid-feedback">Please enter your university</div>
                    </div>
                    <button class="btn btn-info " type="submit">Add University</button>

                </form>

            {% endif %}
            <br>
            Account created on: {{ date }}
        </p>

    </div>
</div>
{% endblock %}
{% block main %}
<div class="alert alert-info" role="alert">
    Number of days: <span class="badge badge-light">{{ 7 - days_off }}</span>
</div>
<div class="alert alert-info" role="alert">
    Number of days off: <span class="badge badge-light">{{ days_off }}</span>
</div>
<div class="alert alert-info" role="alert">
    Number of Subjects: <span class="badge badge-light">{{ subjects }}</span>
</div>
<a href="/type/Lecture">
<div class="alert alert-info" role="alert">
    Number of Lectures: <span class="badge badge-light">{{ lectures }}</span>
</div>
</a>
<a href="/type/Section">
<div class="alert alert-info" role="alert">
    Number of Sections: <span class="badge badge-light">{{ sections }}</span>
</div>
</a>
<a href="/type/Lab">
<div class="alert alert-info" role="alert">
    Number of Labs: <span class="badge badge-light">{{ labs }}</span>
</div>
</a>
<div class="alert alert-info" role="alert">
    Total number of periods: <span class="badge badge-light">{{ total }}</span>
</div>
<ul class="list-group">
    {% for day, count in days.items() %}
    {% if count %}
    <a href="/days/{{ day }}" class="link" style="border-bottom: 2px solid black;">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="day">{{ day }}</span>
            <span class="badge badge-info badge-pill">{{ count }}</span>
        </li>
    </a>
    {% endif %}
    {% endfor %}
</ul>

<script>
    let d = new Date();
    //let days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    //let today_name = days[d.getDay()];
    let today_date = (d.getMonth() + 1).toString() + '-' + d.getDate().toString() + '-' + d.getFullYear().toString();
    let dd = new Date();
    //dd.setDate(d.getDate() + 1);
    //let tomorrow_name = days[dd.getDay()];
    //let tomorrow_date = (dd.getMonth() + 1).toString() + '-' + dd.getDate().toString() + '-' + dd.getFullYear().toString();
    document.querySelector("#update_date").onsubmit = function () {
        document.querySelector("input[name='today_date']").value = today_date;
        //document.querySelector("input[name='tomorrow_name']").value = tomorrow_name;
        //document.querySelector("input[name='tomorrow_date']").value = tomorrow_date;
        return true;
    }
</script>

{% endblock %}