{% extends "layout.html" %}

{% block title %}
{{ session["username"] }}
{% endblock %}

{% block head %}
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">{{ session["username"] }}.</h1>
        <p class="lead">Email:
            {% if email %}
                {{ email }}
            {% else %}
                <a href="/settings/add_email" class="btn btn-primary darkmode-ignore">Add Email</a>
            {% endif %}
            <br>
            University:
            {% if uni[0] %}
                {{ uni[0] }}
            {% else %}
                <form action="/add/uni" method="post">
                    <div class="form-group">
                    <input type="text" autofocus class="form-control" id="university" placeholder="University" name="university" style="display: inline-block !important; width: auto;" required>
                        <div class="invalid-feedback">Please enter your university</div>
                    </div>
                    <button class="btn btn-primary darkmode-ignore" type="submit">Add Uinversity</button>

                </form>

            {% endif %}
            <br>
            Account created on: {{ time }}
        </p>
    </div>
</div>
{% endblock %}
{% block main %}
<div class="alert alert-primary" role="alert">
    Number of days: <span class="badge badge-light">{{ 7 - days_off }}</span>
</div>
<div class="alert alert-primary" role="alert">
    Number of days off: <span class="badge badge-light">{{ days_off }}</span>
</div>
<div class="alert alert-primary" role="alert">
    Number of Subjects (DISTINCT): <span class="badge badge-light">{{ subjects }}</span>
</div>
<div class="alert alert-primary" role="alert">
    Number of Lectures: <span class="badge badge-light">{{ lectures }}</span>
</div>
<div class="alert alert-primary" role="alert">
    Number of Sections: <span class="badge badge-light">{{ sections }}</span>
</div>
<div class="alert alert-primary" role="alert">
    Number of Labs: <span class="badge badge-light">{{ labs }}</span>
</div>
<div class="alert alert-primary" role="alert">
    Total: <span class="badge badge-light">{{ lectures + sections + labs }}</span>
</div>
<ul class="list-group">
    {% for day, count in days.items() %}
    {% if count %}
    <a href="/days/{{ day }}" class="link">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="day">{{ day }}</span>
            <span class="badge badge-primary badge-pill">{{ count }}</span>
        </li>
    </a>
    {% endif %}
    {% endfor %}
</ul>

{% endblock %}