{% extends "layout.html" %}

{% block title %}
    ECE
{% endblock %}

{% block main %}

    <form class="needs-validation" id="form" novalidate  action="/ece/section/{{ n }}" autocomplete="off" method="post">
<div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">Apply this section's schedule?</h4>
        <p>Are you sure you want to apply section  {{ n }}'s schedule?</p>
    </div>
        <button class="btn btn-primary darkmode-ignore" type="submit">Add</button>
    </form>


{% endblock %}
